.global-message{
    
    position: fixed;
    bottom: 10px;
    right:10px;
    min-width: 500px;
    border-radius: 50px;
    color: #fff;
    z-index:2;
}

.global-message.info{
    background: blue;
}

.global-message.error{
    background: red;
}

.subscriber-error{
    background:#931d1d;
    border-color:#931d1d;
    
}

.subscriber-success{
    background:#0cd1df;
    border-color:#0cd1df;
    
}

/* categories */

.categories-col .block-21 .text{
     
    width:100%;
}